/* App.css sample global styles */

/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global typography settings */
body, button, input {
  font-family: 'Arial', sans-serif;
}

/* Utility classes */
.center-text {
  text-align: center;
}

/* Layout styling */
.container {
  max-width: 1368px;
  margin: 0 auto;
}

